<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lubbe.tanken" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tanken</name>
    <description>
        Awesome Tanken!
    </description>
    <author email="andreas@lubbe.org" href="http://cordova.io">
        Andreas Lubbe
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="UIWebViewBounce" value="false" />
</widget>
